@use "base/base";
@use "base/fonts";
@use "base/question";
@use "layout/burger-menu";
@use "../site-theme";
@use "../internal-hero";





/* body {
  background-color: rgb(241, 241, 241);
}

.box-shadow {
  box-shadow: 5px 5px 5px #888888;
}

.list-icon {
  margin-right: 5px;
  color: #eb0923bd;
} */
