@import "base/mixins";
@import "base/base.scss";
@import "base/fonts";
@import "base/question";

@import "layout/burger-menu";





/* body {
  background-color: rgb(241, 241, 241);
}

.box-shadow {
  box-shadow: 5px 5px 5px #888888;
}

.list-icon {
  margin-right: 5px;
  color: #eb0923bd;
} */
